<app-navbar></app-navbar>
<section class="content">
    <div class="container-fluid">
      <div class="row m-t-sm">
        <div class="col-md-15">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12"><h5 class="m-t-xs">Ingreso de Tienda</h5></div>
                                </div>
                                <form [formGroup]="tiendaForm" (ngSubmit)="editarTienda()">
                                    <div class="form-group">
                                        <label>Tienda</label>
                                        <input type="text" formControlName="nombre"
                                            class="form-control" placeholder="Ingresar Tienda">
                                        <div class="text-danger"
                                            *ngIf="tiendaForm.get('nombre')?.hasError('required') && tiendaForm.get('nombre')?.touched">
                                            <span>El nombre <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Distrito</label>
                                        <input type="text" formControlName="distrito" 
                                            class="form-control" placeholder="Ingresar Distrito">
                                        <div class="text-danger"
                                            *ngIf="tiendaForm.get('distrito')?.hasError('required') && tiendaForm.get('distrito')?.touched">
                                            <span>El distrito <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Latitud</label>
                                        <input type="text" formControlName="latitud" 
                                            class="form-control" placeholder="Ingresar Latitud">
                                        <div class="text-danger"
                                            *ngIf="tiendaForm.get('latitud')?.hasError('required') && tiendaForm.get('latitud')?.touched">
                                            <span>La latitud <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Longitud</label>
                                        <input type="number" formControlName="longitud" 
                                            class="form-control" placeholder="Ingresar Longitud">
                                        <div class="text-danger"
                                            *ngIf="tiendaForm.get('longitud')?.hasError('required') && tiendaForm.get('longitud')?.touched">
                                            <span>La longitud <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div  class="col-sm-12 text-right">
                                        <div class="panel-body buttons-margin">
                                           <button type="submit" [disabled]="tiendaForm.invalid" class="btn btn-w-md btn-success">Guardar</button>&nbsp;&nbsp;
                                           <button class="btn btn-w-md btn-warning" routerLink="/listar-distritos">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
      </div>
    </div>
</section>
